@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1200px) {
	/* navbar for all pages */
  	.navbar-app .navbar-expand-md .navbar-nav .nav-link{
		padding: 36px 23px 12px ;
		font-size: 16px;
	}
	
	/* section header for all pages */
	.section-header{
		padding-top:150px;
	}
	.section-header h2{
		font-size: 50px;
		margin: 0 0 30px;
	}
	/* services page */
	#services-app{
		padding-bottom: 50px;
	}

	/* about page */
	.about-section .about-button a.btn-meet{
		font-size: 18px;
		padding:10px 35px;
	}
	.about-section .about-button a::after{
		border: 15px solid transparent;
		border-top: 15px solid #A1CA6C;
		bottom: -28px;
	}

	/* contact-page */
	.contacts-footer{
		padding: 10px 0;
	}
	.contacts-footer .social-icons a{
		width: 50px;
		height: 50px;
		font-size: 50px;
		line-height: 35px;
	}
}
@media screen and (max-width: 992px) {
	/* navbar for all pages */
  	.navbar-app .navbar-expand-md .navbar-nav .nav-link{
		padding: 30px 17px 6px ;
		font-size: 16px;
	}
	.navbar-app .nav-item{
		margin-left: 5px;
	}

	/* home page */
	.home-slider .carousel-control-next-icon,.home-slider .carousel-control-prev-icon{
		width: 25px;
		height: 47px;
	}
	.home-slider .carousel-control-next{
		right: 40px;
	}
	.home-slider .carousel-control-prev{
		left: 40px;
	}
	.home-slider .carousel-indicators{
		bottom: 79px;
	}
	.home-slider .carousel-indicators li{
		width: 16px;
		height: 16px;
	}

	/* section header for all pages */
	.section-header h2{
		font-size: 40px;
		margin: 0 0 25px;
	}
	.section-header h6{
		font-size: 16px;
		margin: 0 0 15px;
	}
	/* about page */
	.about-section .about-button a{
		font-size: 20px;
		padding:10px 42px;
	}

	/* work-page */
	.work-section .work-tabs{
		padding: 30px 0;
		margin-bottom: 40px;
	}
	/* contacts-page */
	.contacts-section .adrress-card-group{
		margin-bottom: 20px;
	}
	.contacts-section .maps{
		overflow: hidden;
		max-width: 100%;
		max-height: 283px;
		padding-top: 0px;
	}
	.contacts-section .form-block .btn{
		font-size: 20px;
		padding: 10px 75px;
	}
}
@media screen and (max-width: 767px) {
	/* navbar for all page */
	.navbar-app{
		position: fixed;
	}
	.navbar-app .navbar-nav .nav-item.active .nav-link{
		color:#fff;
	}
	.navbar-app .navbar-expand-md .navbar-nav .nav-link{
		padding: 15px;
		font-size: 18px;
	}
	.navbar-app .navbar-expand-md .navbar-nav .nav-link:hover{
		color: #fff;
	}
	.navbar-app .collapse.show{
		background: rgba(255, 255, 255,.3);
	}
	.navbar-app .nav-item{
		margin-left: 0px;
		border-radius: 0;
	}
	#home-app .navbar-app{
		/* background: #3ea5b8; */
	}
	#services-app .navbar-app{
		background: #B24A50;
	}
	#about-app .navbar-app{
		background: #665464;
	}
	#work-app .navbar-app{
		background: #81A256;
	}
	#contacts-app .navbar-app{
		background: #75B4AA;
	}


	/* home page */

	.home-slider .carousel-control-next{
		right: 30px;
	}
	.home-slider .carousel-control-prev{
		left: 30px;
	}
	.home-slider .home-card{
		padding:25px;
	}
	.home-slider .card-left h2,.home-slider .card-left h3{
		font-size: 25px;
	}
	.home-slider .card-right h2{
		font-size: 60px;
	}
	/* work-page */
	.work-section .work-tabs{
		padding: 20px 0;
		margin-bottom: 30px;
	}
	.work-section .work-tabs .nav-pills .nav-link{
		font-size: 14px;
		padding: 5px 10px;
	}
}
@media screen and (max-width: 576px) {
	/* home page */
	.home-slider .carousel-control-next-icon,.home-slider .carousel-control-prev-icon{
		width: 20px;
		height: 40px;
	}
	.home-slider .carousel-control-next{
		right: 20px;
	}
	.home-slider .carousel-control-prev{
		left: 20px;
	}
	.home-slider .carousel-indicators{
		bottom: 60px;
	}
	.home-slider .home-card{
		padding:20px;
	}
	.home-slider .card-left h2,.home-slider .card-left h3{
		font-size: 20px;
	}
	.home-slider .card-right h2{
		font-size: 45px;
	}
	.home-slider .carousel-indicators li.w-between{
		margin: 0 25px;
	}

	/* work-page */
	.work-section .card{
		max-width: 100%;
	}
	.work-section .work-tabs{
		flex-direction: column;
		padding: 10px 0;
	}
	.work-section .work-tabs .tabs-title{
		margin-bottom: 20px;
	}
	/* contacts-page */
	.contacts-section .adrress-card-group{
		padding: 0;
	}
	.contacts-section .address-header h6{
		margin: 15px 0 10px;
	}
	.contacts-section .address-footer{
		margin-top: 30px;
	}
	.contacts-section .ask-input{
		margin-top: 5px;
	}
	.contacts-section .form-block .btn{
		font-size: 18px;
		padding: 5px 50px;
	}
  
}
@media screen and (max-width: 480px) {
	/* home page */
	.home-slider .home-card{
		padding:25px 10px 10px;
		flex-direction: column;
	}
	.home-slider .card-left{
		min-width: 220px;
	}
	.home-slider .card-right{
		min-width: 220px;
		margin-left: 0;
	}
	.home-slider .card-left h2,.home-slider .card-left h3{
		text-align: center;
	}
	.home-slider .card-right h2{
		line-height: normal;
		text-align: center;
	}
	.home-slider .carousel-control-next{
		right: 5px;
	}
	.home-slider .carousel-control-prev{
		left: 5px;
	}
	.home-slider .carousel-indicators{
		bottom: 40px;
	}

	/* section header for all pages */
	.section-header{
		padding-top:100px;
	}
	.section-header h2{
		font-size: 30px;
		margin: 0 0 20px;
	}
	.section-header h6{
		font-size: 15px;
		margin: 0 0 10px;
	}

	/* work -page */
	.work-section .work-tabs .nav-pills .nav-link{
		font-size: 11px;
		padding: 5px 5px;
	}
}


